body {
    margin:0px;
}
.mainSection {
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    justify-content: space-between;
}


.interactiveMenu {
    flex-basis: auto;
}

.informationMenu {
    flex-grow: 6;
}