body {
    margin:0px;
}

.websiteName {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.mainSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.interactiveMenu {
    white-space: nowrap;
    padding:0px 40px;
}

a {
    text-decoration: none;
}
.hamburgerList {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    border: 1px solid black;
    padding: 2px;
    margin: 10px 0px;
}
.informationMenu {
    flex-grow: 6;
}